*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family: 'Montserrat', sans-serif;}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: 0px auto;
}

.logo-header{
    margin-top: 20px;
}

.logo{
    border-right: 1px solid grey;
    padding-right: 20px;
    height:70px;
    width: auto;
}

nav{
    height: 100px;
/*     background-color: blueviolet;
 */    margin-bottom: 10px;
}

nav li{
    list-style: none;
    display: inline;
    padding-right: 10px;
}

nav li a{
    text-transform: uppercase;
    text-decoration: none;
    color: grey;
    line-height: 100px;
} 

nav li a:hover{
    color: orangered;
} 

.photo-header{
    height: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-position: center;
    background-image: url(../img/banner.jpg);
}

.background-text{
    width: 100%;
    height: 100%;
    background-size: contain;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.text{
    padding-top: 250px;
    width: 55%;
    padding-left: 20px;
    color:white;
}

.text h3{
    line-height: 30px;
}

main{
    margin-bottom: 20px;
    /* background-color: darkgreen; */
}

.title-main{
    height: 100px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.title-main p{color: grey}

.col-left,.col-right{
    width: 20%;
}

.img-left{
    background-image: url(../img/img-1.jpg);
    background-position: center;
    border-radius: 10px;
    height: 200px;
    background-size: cover;
    filter: brightness(70%);
}

.img-central{
    background-image: url(../img/banner-2.jpg);
    background-position: center;
    border-radius: 10px;
    height: 200px;
    background-size: cover;
    filter: brightness(70%);
}

.img-right{
    background-image: url(../img/img-3.jpg);
    background-position: center;
    border-radius: 10px;
    height: 200px;
    background-size: cover;
    filter: brightness(70%);
}


.col-central{
    width: 56%;
    margin: 0 2%;
}

.col{
    float: left;
/*     background-color: skyblue;
 */    margin-bottom: 20px;
}

footer{ 
    height: 50px;
/*     background-color: blueviolet;
 */}

.col p{color: grey;}

footer p{
    line-height: 50px;
    text-align: center;
}

footer p::after{
    content:'\2665';
    color: red;
}